# Log Readers

Read from the

In [2]:
import sparkles.spark as Spark
import sparkles.file_reader as fr
import pandas as pd

## working on josephs magic code

In [ ]:
import subprocess

## Creating a sparkle Log

Requires two telemetry dumps, the seeing and the sparkle log. 

first create them (this takes some time) then clean them into a csv

## Using sparkle Log

In [2]:
log_dir = "/home/eden/data/2023A/log/"
tsci_csv = log_dir + "spkl_tsci_23A_clean.csv"
tel_csv = log_dir + "spkl_teldump_23A_clean.csv"

In [3]:
tsci_pd = pd.read_csv(tsci_csv) # DSEEING, BSEEING until 03_17
tel_pd = pd.read_csv(tel_csv)

In [4]:
# need to sort on UT
tsci_pd["UT"] = pd.to_datetime(tsci_pd["UT"])
tel_pd["UT"] = pd.to_datetime(tel_pd["UT"])

In [6]:
tsci_pd['DSEEING'].nunique()

206

In [7]:
tsci_pd["DIMM_diff"] = tsci_pd['DSEEING'].diff()
tsci_pd_filt = tsci_pd[tsci_pd['DIMM_diff'] != 0]

In [8]:
merged_df = pd.merge(tsci_pd_filt, tel_pd, on='UT') 
merged_df

,UT,DSEEING,DSEEING_COR,BSEEING,BSEEING_COR,DIMM_diff,MOD,TRIG,HZ,SEPS,ANGS,AMPS
0,2022-12-05 09:13:55,-1.00,-1.000000,-1.00,-1.000000,-1.90,True,True,NaN,10.0,0.0,0.04
1,2022-12-06 00:52:50,-1.00,-1.000000,1.13,1.017347,-2.15,False,False,NaN,NaN,NaN,NaN
2,2022-12-06 01:27:10,1.43,1.377719,1.06,0.947353,0.10,False,False,NaN,NaN,NaN,NaN
3,2022-12-06 01:30:20,1.31,1.259476,1.13,1.002235,0.04,False,False,NaN,NaN,NaN,NaN
4,2022-12-06 02:07:09,0.76,0.710547,0.93,0.676690,-0.07,False,False,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
723,2023-03-17 09:34:02,0.64,0.595836,0.60,0.472459,-0.01,True,True,NaN,20.0,0.0,0.02
724,2023-03-17 09:41:02,0.55,0.508778,-1.00,-1.000000,-0.01,True,True,NaN,20.0,0.0,0.02
725,2023-03-17 09:51:02,0.64,0.587400,0.61,0.569555,0.04,True,True,NaN,20.0,0.0,0.02
726,2023-03-17 09:53:02,0.61,0.558679,0.61,0.569555,0.08,True,True,NaN,20.0,0.0,0.02
727,2023-03-17 09:59:02,0.57,0.519195,-1.00,-1.000000,-0.03,False,False,NaN,NaN,NaN,NaN

In [10]:
# merge the two dataframes by time
# name of the merged df:
merged_f = log_dir + "merge_spk_tsci.csv"
merged_df.to_csv(merged_f, index=False)

##